OPENAI_KEY=sk-proj-_EXAMPLE1nL7_aYtyIKOvUwE0WnX5wUuiio8c9O2MEodZLL4TH18TYlxzoT9A6AXfraC8DX3tNyqtT3BlbkFJKgjbhHw5hLGN5sfYbw6vbTxZWaAgcbm0S__H9si11Qd2BsUmQ4UThEFLR59xk1UBbO37edNYPdMA
QDRANT_KEY=eyJhbGciOssdNiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.ft0r-HED0lEM80VDrtyu7rXoV0HVgfgf1ChryhjhgO6Y
QDRANT_URL=https://4da1fft0-16f9-4d58-bad5-2f0902ab86b7.eu-central-1-0.aws.cloud.qdrant.io